/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/bin/
/spec/dest/
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/vendor/bundle
/lib/bundler/man/
/_yardoc/
/doc/
/rdoc/
*.gem
*.rbc
.rspec_status
.DS_Store
Gemfile.lock
.jekyll-cache
